<table>
  <tr> 
    <td>申请人：</td> 
    <td><input type="text" id="user" name="user" /></td> 
    <td>出差费用：</td> 
    <td><input type="text" id="fee" name="fee" /></td> 
  </tr> 
  <tr> 
    <td>邮箱：</td> 
    <td><input type="text" id="email" name="email" /></td> 
    <td>审批人1：</td> 
    <td><input type="text" id="approver1" name="approver1" /></td> 
  </tr> 
  <tr> 
    <td>审批人2：</td> 
    <td><input type="text" id="approver2" name="approver2" /></td> 
    <td>审批人3：</td> 
    <td><input type="text" id="approver3" name="approver3" /></td> 
  </tr> 
</table>